/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  
    .btn-cs-primary {
        @apply inline-block px-5 py-3 rounded-lg shadow-lg bg-indigo-500
        hover:bg-indigo-400 hover:-translate-y-0.5 focus:outline-none focus:ring
        focus:ring-offset-2 focus:ring-indigo-500 focus:ring-opacity-50 
        hover:bg-indigo-600 transform transition text-white uppercase tracking-wider
        font-semibold text-sm sm:text-base;
    }

    .btn-cs-secondary {
        @apply inline-block px-5 py-3 rounded-lg bg-gray-300 hover:bg-gray-200
        focus:outline-none focus:ring focus:ring-offset-2 focus:ring-gray-300
        focus:ring-opacity-50 hover:bg-gray-400 transform transition text-gray-800
        uppercase tracking-wider font-semibold text-sm sm:text-base;
    }

    .carousel-open:checked+.carousel-item {
        position: static;
        opacity: 100;
      }
    
      .carousel-item {
        -webkit-transition: opacity 0.6s ease-out;
        transition: opacity 0.6s ease-out;
      }
    
      #carousel-1:checked~.control-1,
      #carousel-2:checked~.control-2,
      #carousel-3:checked~.control-3 {
        display: block;
      }
    
      .carousel-indicators {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 2%;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 10;
      }
    
      #carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
      #carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
      #carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
        color: #2b6cb0;
        /*Set to match the Tailwind colour you want the active one to be */
      }


      /* ms */
      .header .logo img {
        width : 180px;
      }

      @media (min-width : 640px){
        .hero {
          position : relative;
          background : url("./images/programming.png") no-repeat center/cover;
          height : 500px;
        }
  
        .hero-img {
          display : none;
        }

        .hero .overlay {
          position : absolute;
          top : 50%;
          transform : translateY (-40%);
        }

        .hero .overlay p.text {
          width : 300px;
        }

        .gamepass-hero {
          background : url("./images/sunrise.jpg"s) no-repeat center/cover;
        }
      }

    @media(min-width : 900px) {
      .hero .overlay p.text {
        width : 500px;
      }
    }
      
}

/* .btn {
    @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
    @apply bg-blue-500 text-white;
}

.btn-blue:hover {
    @apply bg-blue-400;
} */